html {

  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;  
  margin: 0;
  padding: 0;
}

#header {
  margin: 0;
  text-align: center;
  height: 100px;
}

#header h1{
  margin-top: 65px;
  background-color: rgba(255,255,255,.8);
  border-top: 2px solid gray;
  font-size: 35px;
  border-bottom: 2px solid gray;
  
  color: #222;
  text-shadow: 0px 2px 3px #555;
}

#header img {
  position: absolute;
  top: -20px;
  z-index: -1;
}

#content {
  border-radius: 5px;
  background-color: white;
  height: 200px;
}

#content h2 {
  text-align: center;
  font-size: 20px;
}